*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  min-height: 100vh;
}
.todo-list__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1024px;
  width: 400px;
  padding: 0px 10px;
}
.todo-list__header-container{
  margin-bottom: 30px;
}
.todo-list__header{
  font-size: 3rem;
}
.todo-list__form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.todo-list__input{
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid white;
  outline: none;
  color: #737373;
  width: 100%;

}
.todo-list__new-task-input{
  border-radius: 10px 0px 0px 10px;
}
.todo-list__search-input--container{
  width: 100%;
}
.todo-list__search-input{
  width: 100%;
  border-radius: 10px;
}
.todo-list__button{
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  color:#e3e3e3;
  font-weight: 700;
  border: 1px solid #f9c46b;
  border-radius: 5px;
  background-color: #f9c46b;
  cursor: pointer;
}
.todo-list__button.todo-list__button-delete{
  font-size: 1.1rem;
}
.todo-list__button.todo-list__button-add{
  border-radius: 0px 10px 10px 0px;
  padding: 0.5rem;
  font-size: 1.2rem;
  color:#e3e3e3;
  font-weight: 700;
  border: 1px solid #f9c46b;
  background-color: #f9c46b;
}
.todo-list__tasks-container{
  width: 100%;
  padding: 10px 5px;
}
.todo-list__item-task{
  list-style: none;
  font-size: 1.2rem;
  padding: 15px 10px;
  background-color: #f782c2;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.todo-list__item-task-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list__list-item-text-container.todo-list__item-task--completed{
  text-decoration: line-through;
  color:#737373;
}
.todo-list__filters-container,
.todo-list__sort-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}
.todo-list__button.todo-list__button--filter.todo-list__button--filter-active,
.todo-list__button.todo-list__button--sort.todo-list__button--sort-active{
  background-color: #f1a524;
}
.todo-list__button.todo-list__button.todo-list__button--sort,
.todo-list__button.todo-list__button.todo-list__button--filter{
width: 30%;
}
@media screen and (min-width: 900px) {
  .todo-list__button{    
          font-size: 0.9rem;
  }
  .todo-list__button.todo-list__button-delete{    
          font-size: 1.2rem;
  }
  .todo-list__header-container{
      margin-bottom: 35px;
  }
  .todo-list__header{
      font-size: 4rem;
  }
}
.todo-list__tasks-container{
    list-style: none;
}
.todo-list__loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100vh
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }